<div class="container-fluid p-4">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary">
        Học Ngay
      </button>
    </div>
    <div class="col-9">
      <div class="card mb-3" style="border: none">
        <p class="card-text">{{description}}</p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/{{vidId}}"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text"><small
              class="text-muted"
            >{{updatedAt}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
